---
- name: Kafka Topics | Choose a random Zookeeper host to make requests
  set_fact:
    random_zookeeper: >-
      {{ hostvars.get(item).ansible_all_ipv4_addresses | first }}:{{ zookeeper_port }}
  with_random_choice: "{{ zookeeper_group }}"

- name: Kafka Topics | List topics
  command: >-
    {{ kafka_bins }}/kafka-topics --zookeeper {{ random_zookeeper }} --list
  run_once: yes
  changed_when: no
  register: kafka_topics_result
  tags:
    - create

- name: Set Topic Difference Fact
  set_facts:
    topics_to_create: "{{ default_kafka_topics | map(attribute='name') | list | difference(kafka_topics_result.stdout_lines) }}"

- name: Kafka Topics | Calculate replication-factor and partitions
  set_fact:
    kafka_params:
    - "--replication-factor {{ default_replication_factor }}"
    - "--partitions {{ groups['kafka'] | length }}"
  tags:
    - create

- name: Kafka Topics | Create and Configure Topics
  import_tasks: create-topic.yml
  loop: "{{ default_kafka_topics }}"
  loop_control:
    loop_var: kafka_topic
