---

- name: System Users | Create user group
  ansible.builtin.group:
    name: "{{ kafka_system_users.group }}"
    state: present
  tags:
    - groups
    - installation

- name: System Users | Check if sudoers file exists
  ansible.builtin.stat:
    path: /etc/sudoers
  register: sudoers_status
  tags:
    - groups
    - installation

- name: System Users | Include to sudoers
  ansible.builtin.lineinfile:
    path: /etc/sudoers
    state: present
    insertafter: "^%wheel" # or defaults to EOF
    line: "^%{{ kafka_system_users.group }} ALL=(ALL) NOPASSWD: ALL"
  when: sudoers_status.stat.exists
  tags:
    - groups
    - installation

- name: System Users | Create an user for each service
  ansible.builtin.user:
    name: "{{ item }}"
    groups:
      - "{{ kafka_system_users.group }}"
    system: yes
    create_home: no
    append: yes
  with_items: "{{ confluent_services }}"
  tags:
    - groups
    - installation
