---
- name: Kafka | Create config files
  ansible.builtin.template:
    src: "kafka.properties.j2"
    dest: "{{ conf_dest }}/kafka.properties"
    mode: 0644

- name: System Users | Change config file ownership
  ansible.builtin.file:
    path: "{{ conf_dest }}/kafka.properties"
    owner: "{{ confluent_services | first }}"
    group: "{{ kafka_system_users.group }}"
    mode: "{{ kafka_system_users.permissions.directory_mode }}"
  when: kafka_system_users.enabled

- name: "Ansible | Include tasks for {{ ansible_service_mgr }}"
  ansible.builtin.include_tasks: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_service_mgr }}.yaml"
        - upstart.yaml
      paths: ./services
  vars:
    services: "{{ kafka_services }}"
