---
- name: Kafka | Create config files
  template:
    src: "kafka.properties.j2"
    dest: "{{ conf_dest }}/kafka.properties"

- name: System Users | Change config file ownership
  file:
    path: "{{ conf_dest }}/kafka.properties"
    owner: "kafka"
    group: "{{ kafka_system_users.group }}"
  when: kafka_system_users.enabled

- name: "Ansible | Include tasks for {{ ansible_service_mgr }}"
  include_tasks: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_service_mgr }}.yaml"
        - upstart.yaml
      paths: ./services
  vars:
    services: "{{ kafka_services }}"
