---

- name: System Users | Create necessary users and groups
  import_tasks: groups.yaml
  when: kafka_system_users.enabled
  tags:
    - groups
    - installation

- name: SE Linux | Install Python SE Linux lib
  import_tasks: python-selinux.yaml
  tags:
    - installation

- name: Installation | Download binaries if needed
  import_tasks: download.yaml
  tags:
    - download
    - installation

- name: Installation | Create needed directories
  import_tasks: directories.yaml
  tags:
    - installation

- name: Zookeeper | Include tasks
  include_tasks: zookeeper.yaml
  when: inventory_hostname in zookeeper_group
  tags:
    - service
    - installation
    - configuration

- name: Logs | Including tasks
  import_tasks: "logs.yaml"
  tags:
    - service
    - logs
    - configuration
    
- name: Kafka | Including tasks
  include_tasks: "kafka.yaml"
  when: inventory_hostname in kafka_group
  tags:
    - service
    - installation
    - configuration

# TO-DO: Make TLS useful again
# - name: Configure security layer for Kafka
#   import_tasks: "security.yaml"
#   vars:
#     jkstores:
#       - "{{ kafka_security.server.keystore }}"
#       - "{{ kafka_security.server.truststore }}"
#     keypass: "{{ keypass }}"
#     templates:
#       - kafka.properties
#     service: kafka
#   tags:
#     - ssl

- name: Kafka | Configure and create default topics
  import_tasks: "configure-topics.yaml"
  vars:
    kafka_bins: "{{ dst_path }}/confluent-{{ confluent_version }}/bin"
  when: default_kafka_topics is defined
  tags:
    - kafka-topics
