---

- name: System Users | Create necessary users and groups
  import_tasks: groups.yml
  when: kafka_system_users.enabled
  tags:
    - groups

- name: SE Linux | Install Python SE Linux lib
  import_tasks: python-selinux.yml
  tags:
    - installation

- name: Confluent | Check if there's an unarchived package
  stat:
    path: "{{ dst_path }}/confluent-{{ confluent_version }}"
  register: unarchived_confluent_package
  tags:
    - installation

- block: # Try to download the Confluent package on the host directly from the internet
    - name: Confluent | Download
      get_url:
        url: "{{ confluent_url }}"
        dest: "{{ dst_path }}"
        force: yes

  rescue: # If it fails (e.g. due to network limitations or firewall), download it locally and then copy
    - name: Confluent | Download locally
      get_url:
        url: "{{ confluent_url }}"
        dest: "{{ local_path }}"
        force: yes
      connection: local
      become: no
      run_once: yes

    - name: Confluent | Copy local package to hosts
      copy:
        src: "/tmp/{{ confluent_distribution }}-{{ confluent_version }}-{{ scala_version }}.tar.gz"
        dest: "{{ dst_path }}/{{ confluent_distribution }}-{{ confluent_version }}-{{ scala_version }}.tar.gz"

  always:
    - name: Confluent | Unarchive package
      unarchive:
        src: "{{ dst_path }}/{{ confluent_distribution }}-{{ confluent_version }}-{{ scala_version }}.tar.gz"
        dest: "{{ dst_path }}"
        remote_src: yes

    - name: System Users | Change unarchived package ownership
      file:
        path: "{{ dst_path }}"
        mode: 0775
        owner: kafka
        group: "{{ kafka_system_users.group }}"
      when: kafka_system_users.enabled

    - name: Confluent | Remove archived package
      file:
        path: "{{ dst_path }}/{{ confluent_distribution }}-{{ confluent_version }}-{{ scala_version }}.tar.gz"
        state: absent

  when: not unarchived_confluent_package.stat.exists
  tags:
    - download
    - installation

- name: Configuration | Create directory
  file:
    path: "{{ conf_dest }}"
    state: directory
    force: yes
  tags:
    - installation

- name: Configuration | Change directory ownership
  file:
    path: "{{ conf_dest }}"
    owner: kafka
    group: "{{ kafka_system_users.group }}"
    force: yes
  when: kafka_system_users.enabled
  tags:
    - installation

- name: Zookeeper | Include tasks
  include_tasks: zookeeper.yml
  when: inventory_hostname in zookeeper_group
  tags:
    - service
    - installation
    - configuration

- name: Kafka | Including tasks
  include_tasks: "kafka.yml"
  when: inventory_hostname in kafka_group
  tags:
    - service
    - installation
    - configuration

# TO-DO: Make TLS useful again
# - name: Configure security layer for Kafka
#   import_tasks: "security.yml"
#   vars:
#     jkstores:
#       - "{{ kafka_security.server.keystore }}"
#       - "{{ kafka_security.server.truststore }}"
#     keypass: "{{ keypass }}"
#     templates:
#       - kafka.properties
#     service: kafka
#   tags:
#     - ssl

- name: JVM | Tune heap sizes for Kafka
  import_tasks: jvm-tuning.yml
  tags:
    - tuning
    - configuration

- name: Logs | Including tasks
  include_tasks: "logs.yml"
  tags:
    - service
    - logs
    - configuration

- name: Kafka | Configure and create default topics
  import_tasks: "configure-topics.yml"
  vars:
    kafka_bins: "{{ dst_path }}/confluent-{{ confluent_version }}/bin"
  when: default_kafka_topics is defined
  tags:
    - kafka-topics
    - configuration
