---
- name: Zookeeper | Create data dir
  file:
    path: "{{ zookeeper_data_dir }}"
    state: directory
    force: yes
    mode: 0766
  become: yes
  tags:
    - service
    - installation
    - configuration

- name: System Users | Change data dir ownership
  file:
    path: "{{ zookeeper_data_dir }}"
    owner: zookeeper
    group: "{{ kafka_system_users.group }}"
  become: yes
  when: kafka_system_users.enabled
  tags:
    - service
    - installation
    - configuration

- name: Zookeeper | Create config files from template
  template:
    src: "{{ item.template }}"
    dest: "{{ item.dest }}/{{ item.name }}"
  with_items:
    - template: "zookeeper.properties.j2"
      name: "zookeeper.properties"
      dest: "{{ conf_dest }}"
    - template: "zk_myid.j2"
      name: "myid"
      dest: "{{ zookeeper_data_dir }}"
  tags:
    - service
    - installation
    - configuration

- name: System Users | Change Zookeeper config files ownership
  file:
    path: "{{ item }}"
    owner: zookeeper
    group: "{{ kafka_system_users.group }}"
    mode: 0640
  loop:
    - "{{ conf_dest }}/zookeeper.properties"
    - "{{ zookeeper_data_dir }}/myid"
  when: kafka_system_users.enabled
  tags:
    - service
    - installation
    - configuration

- name: "Ansible | Include tasks for {{ ansible_service_mgr }}"
  include_tasks: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_service_mgr }}.yaml"
        - upstart.yaml
      paths: ./services
  vars:
    services: "{{ zookeeper_services }}"
  tags:
    - service
    - installation
    - configuration
