# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Config file automatic generated using
#   schema-registry.properties template from Ansible
# More information available at: https://github.com/macunha1/confluent-kafka-role

listeners={{ schema_registry_listeners }}

# NOTE: Each schema-registry server is configured to be bootstrapped using its
# "localhost" Kafka.
#
# Use this setting to specify the bootstrap servers for your Kafka cluster and it
# will be used both for selecting the leader schema registry instance and for storing the data for
# registered schemas.
kafkastore.bootstrap.servers=PLAINTEXT://{{ kafka_ip }}:{{ kafka_plaintext_port }},SSL://{{ kafka_ip }}:{{ kafka_security_port }}

# The name of the topic to store schemas in
kafkastore.topic={{ schema_registry_kafkastore_topic }}

# If true, API requests that fail will include extra debugging information, including stack traces
debug={{ schema_registry_debug_enabled }}
