# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Config file automatic generated using zookeeper template from Ansible

listeners={{ listeners_schema }}
kafkastore.connection.url={{ zookeeper_connect }}
kafkastore.topic={{ kafkastore_topic }}
debug={{ schema_registry_debug }}
