#!/bin/bash
{% if ansible_distribution == "Ubuntu" %}
### BEGIN INIT INFO
# Provides:          {{ item.value.file_name }}
# Required-Start:    $all
# Default-Start:     2 3 4 5
### END INIT INFO
{% else %}
# chkconfig: 2345 80 95
{% endif %}

SERVICE_NAME="{{ item.value.file_name }}"
DAEMON_START="{{ item.value.daemon_start }}"
DAEMON_OPTS="{{ item.value.daemon_opts }}"
DAEMON_STOP="{{ item.value.daemon_stop }}"

if [ ! -x $DAEMON_START ]; then
	echo "ERROR: Can't execute $DAEMON_START."
	exit 1
fi

start_service() {
	echo -n " * Starting $SERVICE_NAME... "
	{{ item.value.daemon_status }}

	if [ $? -eq 1 ]; then
		$DAEMON_START $DAEMON_OPTS
		if [ $? -eq 255 ]; then
			echo "couldn't start :("
			exit 1
		fi
	fi

	echo "done"
}

stop_service() {
	echo -n " * Stopping $SERVICE_NAME... "
	$DAEMON_STOP
	if [ $? -eq 1 ]; then
		echo "not running"
		return
	fi

	echo "done"
}

status_service() {
	echo -n "Checking $SERVICE_NAME..."
	{{ item.value.daemon_status }}
	if [ $? -eq 1 ]; then
		echo "not running"
		return
	fi

	echo "running"
}

case "$1" in
start)
	start_service
	exit 0
	;;
stop)
	stop_service
	exit 0
	;;
status)
	status_service
	;;
restart)
	stop_service
	start_service
	exit 0
	;;
*)
	echo "Usage: service $SERVICE_NAME {start|stop|status|restart}" >&2
	exit 1
	;;
esac

exit 0
