[Unit]
Description="{{ file_name }}"
After=network.target

[Service]
Type={{ systemd_service_type }}
ExecStart={{ initscripts_path }}/{{ file_name }} start
ExecStop={{ initscripts_path }}/{{ file_name }} stop
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStartSec={{ timeout_start_sec }}
KillMode=process
Restart=on-failure
RestartSec=120
RestartPreventExitStatus=255
StartLimitBurst=0
{% if confluent_service.value.environment_file is defined %}
EnvironmentFile={{ confluent_service.value.environment_file }}
{% endif %}
{% if confluent_service.value.limit_nofile is defined %}
LimitNOFILE={{ confluent_service.value.limit_nofile }}
{% endif %}
{% if confluent_service.value.limit_nproc is defined %}
LimitNPROC={{ confluent_service.value.limit_nproc }}
{% endif %}

[Install]
WantedBy=multi-user.target
Alias={{ service_name }}.service
