[Unit]
Description="{{ item.value.file_name }}"
After=network.target

[Service]
Type=forking
{% if item.value.environment_file is defined %}
EnvironmentFile={{ item.value.environment_file }}
{% endif %}
ExecStart={{ initscripts_path }}/{{ item.value.file_name }} start
ExecStop={{ initscripts_path }}/{{ item.value.file_name }} stop
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStartSec={{ timeoutStartSec }}
KillMode=process
Restart=on-failure
RestartSec=120
RestartPreventExitStatus=255
StartLimitBurst=0
{% if item.value.limit_nofile is defined %}
LimitNOFILE={{ item.value.limit_nofile }}
{% endif %}
{% if item.value.limit_nproc is defined %}
LimitNPROC={{ item.value.limit_nproc }}
{% endif %}

[Install]
WantedBy=multi-user.target
Alias={{ item.value.file_name }}.service
