# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Config file automatic generated using zookeeper template from Ansible
clientPortBindAddress={{ ansible_default_ipv4.address }}
clientPort={{ zookeeper.get('port') }}

dataDir={{ zookeeper.get('data_dir') }}
dataLogDir={{ zookeeper.get('log_dir') }}
maxClientCnxns={{ zookeeper.get('max_cnxns') }}

initLimit={{ zookeeper.get('init_limit') }}
syncLimit={{ zookeeper.get('sync_limit') }}

{% for server in ansible_play_hosts %}
server.{{ loop.index }}={{ hostvars.get(server).ansible_default_ipv4.address }}:2888:3888
{% endfor %}
